body {
    color: green
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;    
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

#leadership {
    display: flex;
    justify-content: space-between;
}

#scholarship {
    display: flex;
    justify-content: space-between;

}