body {
    color: green;
    background-image: url('../../images/activities-background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#pages-bar {
    display: flex;
    justify-content: center;
    background-color: black;
}

.page-button {
    border: purple;
    border-width: 20px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;

    background-color: beige;
    border-radius: 20px;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

#title {
    display: flex;
    justify-content: center;
    color: green;
}

#leadership {
    
    display: flex;
    justify-content: space-evenly;
}

.vertical-container2 {
    display: flex;
    flex-direction: column;
    background-color: white; 
    border-radius: 30px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    
}
